@model IEnumerable<AntamabaJ_ApliacionMVCLigaPro.Models.Equipo>

@{
    ViewData["Title"] = "ListaEquipos";
}

<h1>ListaEquipos</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatidosJugados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartidosGanados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartidosEmpatados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartidosPerdidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatidosJugados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartidosGanados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartidosEmpatados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartidosPerdidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntos)
            </td>
            <td>
                <td>
                    
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning me-1">✏️ Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info text-white me-1">🔍 Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">🗑️ Eliminar</a>
                </td>

            </td>
        </tr>
}
    </tbody>
</table>
